<footer class="site-footer py-7">

	<div class="container">
        
        <div class="row">

            <div class="col-md-3">
                
               <a href="{{site.baseurl}}/"><img class="footer-logo" alt="{{site.title}}" src="{{site.baseurl}}/dist/images/logo-white.svg" /></a>

            </div>
        </div>

        <div class="row">

            <div class="col-md-6">

                {% include address.html %}
            
            </div>

            <div class="col-md-6 text-right">

               Social links

            </div>

        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="copyright">
                    <p>
                        &copy;{{ 'now' | date: "%Y" }} {{ site.title }} - All Rights Reserved<br>
                    </p>
                </div>

            </div>
        </div>

	</div>
	
</footer>
