{% comment %}
    Displays all of the people from the _people/ collection in a grid
{% endcomment %}

{% if page.show_staff %}

<section class="section-staff py-9">


    <div class="container">

            <div class="row">

                <div class="col-md-3">

                    <h2 class="section-heading text-left h1">The Team</h2>

                </div>

                <div class="col-md-9">
                    
                    <div class="row d-flex justify-content-left">
                        {% assign people = site.people | sample:10 %}
                        {% for person in people %}
                            <div class="col-md-4 mb-3">
                                <div class="post row">
                                    <div class="post-header col-md-12 mb-1">
                                    {% if person.thumbnail %}
{% responsive_image_block %}
path: {{ person.thumbnail | remove_first:'/' }}
alt: {{ person.title }}
{% endresponsive_image_block %} 
                                    {% else %}
                                        <img class="rounded-circle" alt="{{ person.title }}" src="{{ "/img/placeholder.png" | absolute_url }}>
                                    {% endif %}
                                    </div>
                                    <div class="post-body col-md-12 text-left py-1">
                                        <h3>{{ person.title }}</h3>
                                        {% if person.sub_heading %}
                                        <div class="subtitle">
                                            {{ person.sub_heading }}
                                        </div>{% endif %}
                                        <div class="d-none">
                                            {{ person.content }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>

            </div>

           
        </div>
    </div>
</section>
{% endif %}
