{% comment %}
    Displays all of the people from the _people/ collection in a grid
{% endcomment %}

{% if page.show_staff %}
<section class="section-staff">
    <div class="container">
            <h2 class="section-heading text-center h1">The Team</h2>

            <div class="row">
                {% assign people = site.people | sample:7 %}
                {% for person in people %}
                    <div class="col-md-4 mb-3">
                        <div class="post">
                            <div class="post-header">
                            {% if person.thumbnail %}
                                <img class="rounded-circle d-block w-100 mb-2" alt="{{ person.title }}" src="{{ person.thumbnail | absolute_url }}">
                            {% else %}
                                <img class="rounded-circle" alt="{{ person.title }}" src="{{ "/img/placeholder.png" | absolute_url }}>
                            {% endif %}
                            </div>
                            <div class="post-body text-center py-1">
                                <h2>
                                   {{ person.title }}
                                </h2>
                                {% if person.sub_heading %}
                                <div class="subtitle">
                                    {{ person.sub_heading }}
                                </div>{% endif %}
                                <p>
                                    {{ person.content }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
