	<section class="block block-media block-media-right">

		<div class="container">

			<div class="row py-4 d-flex justify-content-center" data-aos="fade-in">
				
				<div class="col-md-9">
						<div id="img-comparison" class="img-comparison">	

							<img src="{{site.baseurl}}/uploads/suncare/suncare_logo_old.png" alt="{{ page.title }}">
							<img src="{{site.baseurl}}/uploads/suncare/suncare_logo_new.png" alt="{{ page.title }}">

						</div>
				</div>

			</div>
			
		</div>
	</section>
	
	<section class="block block-featured block-featured-righht">

		<div class="container">

			<div class="row py-4 d-flex align-items-center" data-aos="fade-in">
				
				<div class="col-md-6">
					<figure>
					      <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/bookingbox/DSC8339.jpg" alt="{{ page.title }}">
					</figure>
				</div>

				<div class="col-md-6">
					<h3 class="hero-color">Suncare</h3>
					<p class="h2">
						some copy here
					</p>
				</div>

			</div>
			
		</div>
	</section>

	<section class="block block-media block-media-right">

		<div class="container">

			<div class="row py-4 d-flex justify-content-center" data-aos="fade-in">
				
				<div class="col-md-9">
					<figure>
					      <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/bookingbox/Website_0.jpg" alt="{{ page.title }}">
					</figure>
				</div>

			</div>
			
		</div>
	</section>

	<section class="block block-media block-media-right">

		<div class="container">

			<div class="row py-4 d-flex justify-content-center" data-aos="fade-in">
				
				<div class="col-md-9">
					<figure u>
					      <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/bookingbox/TBB_PromotionScreen_MockUp.gif" alt="{{ page.title }}">
					</figure>
				</div>

			</div>
			
		</div>
	</section>
	
	<!-- <section class="block block-media block-media-double">

	<div class="container">

		<div class="row py-4 d-flex justify-content-center" data-aos="fade-in">
			
			<div class="col-md-6">
				<figure>
		          <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/HZN-Horizon-2019-02.jpg" alt="Horizon Festival">
		          
		          <figcaption>Horizon Website Mobile View</figcaption>
		      
		        </figure>        
			</div>

			<div class="col-md-6">
				<figure>
		          <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/HZN-Horizon-2019-03.jpg" alt="Horizon Festival">
		  
		          <figcaption>Horizon Website Mobile View</figcaption>
		         
		        </figure> 
			</div>

		</div>
		
	</div>

	</section> -->