	<section class="block block-video">

	  <div class="container">
		<div class="row py-4 d-flex justify-content-center" data-aos="fade-in">
			<div class="col-sm-8 text-center">
			    <video class="video" muted autoplay >
			    	<source src="{{site.baseurl}}/uploads/2019/07/03/Horizon%20Festival%20%E2%80%93%2010%20arts-fuelled%20days.mp4" type="video/mp4">
			    </video>
			</div>
		</div>
	  </div>

	</section>
	
	<section class="block block-featured block-featured-righht">

		<div class="container">

			<div class="row py-4 d-flex align-items-center" data-aos="fade-in">
				
				<div class="col-md-6">
					<figure>
					      <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/HZN-Horizon-2019-07.jpg" alt="Horizon Festival">
					</figure>
				</div>

				<div class="col-md-6">
					<h3 class="hero-color">Horizon Festival</h3>
					<p class="h2">
						Bringing local, national and international artists together for 10 arts-fuelled days of visual art, music, performance, words +
						ideas, film and creative workshops.
					</p>
				</div>

			</div>
			
		</div>
	</section>

	<section class="block block-media block-media-right">

		<div class="container">

			<div class="row py-4 d-flex justify-content-end" data-aos="fade-in">
				
				<div class="col-md-9">
					<figure>
					      <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/HZN-Horizon-2019-05.jpg" alt="Horizon Festival">
					</figure>
				</div>

			</div>
			
		</div>
	</section>

	<section class="block block-media block-media-left">

		<div class="container">

			<div class="row py-4 d-flex justify-content-start" data-aos="fade-in">
				
				<div class="col-md-7">
					<figure>
					      <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/HZN-Horizon-2019-08.jpg" alt="Horizon Festival">
					</figure>
				</div>

			</div>
			
		</div>
	</section>
	
	<section class="block block-media block-media-double">

	<div class="container">

		<div class="row py-4 d-flex justify-content-center" data-aos="fade-in">
			
			<div class="col-md-6">
				<figure>
		          <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/HZN-Horizon-2019-02.jpg" alt="Horizon Festival">
		          
		          <figcaption>Horizon Website Mobile View</figcaption>
		      
		        </figure>        
			</div>

			<div class="col-md-6">
				<figure>
		          <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/HZN-Horizon-2019-03.jpg" alt="Horizon Festival">
		  
		          <figcaption>Horizon Website Mobile View</figcaption>
		         
		        </figure> 
			</div>

		</div>
		
	</div>

	</section>