<div class="card work-teaser">
	<h3>{{ project.title }}</h3>
	<a href="{{ project.url | absolute_url }}" title="{{ project.title }}">
		<figure>
			{% if project.teaser_image and project.teaser_image != "" %}
{% responsive_image_block %}
path: {{ project.teaser_image | remove_first:'/'}}
alt: {{ project.title }}
{% endresponsive_image_block %}
			{% else %}
				<img class="w-100 d-block" src="{{ "/img/placeholder.png" | absolute_url }}" alt="{{ project.title }}">
			{% endif %}
			<figcaption>
				<h4 class="mb-0 h3">{{ project.sub_heading }}</h4>
				<span class="text-uppercase">{{ project.key_service }}</span>
			</figcaption>
		</figure>
	</a>
</div>