
	
	<section class="block block-video-embeded">
	
	<div class="container">

		<div class="row py-4 d-flex justify-content-center" data-aos="fade-in">
			
			<div class="col-md-9">

				{% include vimeoPlayer.html id=340818416 %}

			</div>

		</div>

	</div>
		
	</section>

	<section class="block block-media">

	<div class="container">

		<div class="row py-4" data-aos="fade-in">

			<div class="col-sm-12">
				<figure>
					<img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/mic/MIC_EnrolmentHandbook.jpg" alt="{{ page.title }}">
				</figure>
			</div>

		</div>

	</div>
	</section>

	<section class="block block-featured block-featured-righht">

		<div class="container">

			<div class="row py-4 mb-5 d-flex align-items-center" data-aos="fade-in">
				
				<div class="col-md-6">
					<figure>
					      <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/mic/160061-0448.jpg" alt="Horizon Festival">
					</figure>
				</div>

				<div class="col-md-6">
					<h3 class="hero-color">MIC</h3>
					<p class="h2">
						MIC students learn how to ask questions and know where to find answers.
					</p>
				</div>

			</div>
			
		</div>
	</section>


	

	<section class="block block-media block-media-right">

		<div class="container">

			<div class="row mt-5 py-4 d-flex justify-content-end" data-aos="fade-in">
				
				<div class="col-md-12">
					<figure>
					      <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/mic/InformationBooklet_0.jpg" alt="{{ page.title }}">
					</figure>
				</div>

			</div>
			
		</div>
	</section>


	<section class="block block-media block-media-left">

		<div class="container">

			<div class="row py-4 d-flex justify-content-start" data-aos="fade-in">
				
				<div class="col-md-12">
					<figure>
					      <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/mic/MIC_PresFolder_0.jpg" alt="{{ page.title }}">
					</figure>
				</div>

			</div>
			
		</div>
	</section>

	<section class="block block-media block-media-left">

		<div class="container">

			<div class="row py-4 d-flex justify-content-start" data-aos="fade-in">
				
				<div class="col-md-12">
					<figure>
					      <img class="w-100 d-block img-fit" src="{{site.baseurl}}/uploads/mic/MIC_Website_Home.png" alt="{{ page.title }}">
					</figure>
				</div>

			</div>
			
		</div>
	</section>



	

	