header {
  z-index: 10;
  .logo {
    max-width: 100px;
    height: auto;
  }
  nav {
     a.nav-link {
      color: $white;
      display: block;
      position: relative;
      padding: 0.5em 0;
      margin: 0 0.5em;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 10px;
        right: 0;
        left: auto;
        width: 0;
        height: 1px;
        z-index: 2;
      }
      &:before {
        background-color: $primary-color;
        transition: all .25s cubic-bezier(.694,.048,.335,1) .15s;
      }
      &:after {
        background-color: $white;
        transition: all .25s cubic-bezier(.694,.048,.335,1);
      }
      &:hover {
        color: $white;
        &:after, &:before { 
          width: 100%;
          left: 0;
        }

      }
    }
  }

}

.btn-scroll {
    right: -20px;
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 10;
    background: transparent;
    border: none;
    display: block;
    .text {
      -webkit-animation: btnScrollText 1.5s 0s infinite cubic-bezier(.645,.045,.355,1) both;
      animation: btnScrollText 1.5s 0s infinite cubic-bezier(.645,.045,.355,1) both;
      color: #fff;
      display: block;
      font-size: 14px;
      font-size: .875rem;
      left: -10px;
      position: relative;
      top: -20px;
      text-transform: uppercase;
      -webkit-transform: rotate(90deg) translateX(-100%);
      -ms-transform: rotate(90deg) translateX(-100%);
      transform: rotate(90deg) translateX(-100%);
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }
    &:after {
      display: block;
      content: " ";
      -webkit-animation: btnScrollLine 1.5s 0s infinite cubic-bezier(.645,.045,.355,1) both;
      animation: btnScrollLine 1.5s 0s infinite cubic-bezier(.645,.045,.355,1) both;
      background-color: #fff;
      height: 76px;
      -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
      transform-origin: left bottom;
      width: 1px;
    }
}
// work teaser

.work-teaser {
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: $white;
      text-decoration: none;
      //cursor: url(http://bit.ly/2GaJR5q), pointer;
    }
  }

  figure {
    &:hover {
      &:before {
        opacity: 0.8;
      }
      figcaption {
        opacity: 1;
        transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
        h4 {
          padding-bottom: 0.5em;
        }
      }
    }
  }
}

// work single

.section-hero {
  height: 100vh;
  img {
    height: 100vh;
    object-fit: cover;
  }
  .hero-title {
    bottom: 3em;
    width: 100%;
  }
  .hero-video {
    height: 100vh;
    width: 100%;
  }
}
video::-webkit-media-controls {
  display: none;
}

.block-featured, .block-media {
  .img-fit {
    object-fit: cover;
  }
}
.video {
  max-width: 100%;
  height: auto;
}

.next-work {
  &:before {
    content: " ";
    border-radius: 100px;
    background: white;
    overflow: hidden;
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    right: -10px;
    top: -157%;
    z-index: -2;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
    opacity: 0;
    transition: all 0.5s ease;
  }
  &:after {
    opacity: 0;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
    transition: all 0.3s ease;
    content: " ";
    border-radius: 100px;
    background: white;
    overflow: hidden;
    display: block;
    width: 190px;
    height: 190px;
    right: -5px;
    top: -147%;
    z-index: -1;
    position: absolute;
    background-size: cover;
    background-position: center center;
    mix-blend-mode: multiply;
  }
  &:hover {
    &:before {
        opacity: 1;
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    &:after {
      opacity: 1;
      -webkit-transform: scale(1.0);
        -ms-transform: scale(1);
        transform: scale(1);
    }
  }
  &.animated {
    &:before {
      -webkit-transform: scale(20);
        -ms-transform: scale(20);
        transform: scale(20);
    }
    &:after {
      opacity: 0;
    }
  }
}

// Image Captions

figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;
    mix-blend-mode: multiply;
    z-index: 1;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  figcaption {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    bottom: -40px;
    padding: 1.5em;
    font-size: 0.8em;
    transition: all 0.1s ease-in-out;
    line-height: 1;
  }
}


footer.site-footer {
  background: $black;
  .footer-logo {
      max-width: 170px;
      height: auto;
      margin-bottom: 2em;
  }
  a {
      color: $white;
      display: inline;
      position: relative;
      padding: 0;
      margin: 0;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 1px;
        right: 0;
        left: auto;
        width: 0;
        height: 1px;
        z-index: 2;
      }
      &:before {
        background-color: $primary-color;
        transition: all .25s cubic-bezier(.694,.048,.335,1) .15s;
      }
      &:after {
        background-color: $white;
        transition: all .25s cubic-bezier(.694,.048,.335,1);
      }
      &:hover {
        text-decoration: none;
        color: $white;
        &:after, &:before { 
          width: 100%;
          left: 0;
        }

      }
  }
}