header {
  z-index: 10;
  .logo {
    max-width: 100px;
    height: auto;
  }
  nav {
     a.nav-link {
      color: $white;
      display: block;
      position: relative;
      padding: 0.5em 0;
      margin: 0 0.5em;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 10px;
        right: 0;
        left: auto;
        width: 0;
        height: 1px;
        z-index: 2;
      }
      &:before {
        background-color: $primary-color;
        transition: all .25s cubic-bezier(.694,.048,.335,1) .15s;
      }
      &:after {
        background-color: $white;
        transition: all .25s cubic-bezier(.694,.048,.335,1);
      }
      &:hover {
        color: $white;
        &:after, &:before { 
          width: 100%;
          left: 0;
        }

      }
    }
  }
 

}


#va-slides {
  height: 100vh;

  img {
    height: 100vh;
    object-fit: cover;
  }
}



.work-front {
  .card {
    border: none;
    background: transparent;
    border-radius: 0;

    .description {
      position: absolute;
      left: 1em;
      bottom: 1em;

      h4 {

      }
    }

  }
}

// work single

.section-hero {
  height: 100vh;
  img {
    height: 100vh;
    object-fit: cover;
  }
  .hero-title {
    bottom: 3em;
    width: 100%;
  }
  .hero-video {
    height: 100vh;
    width: 100%;
  }
}
video::-webkit-media-controls {
  display: none;
}

.block-featured, .block-media {
  .img-fit {
    object-fit: cover;
  }
}
.video {
  max-width: 100%;
  height: auto;
}


// Image Captions

figure {
  position: relative;
  overflow: hidden;
  figcaption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    bottom: -60px;
    padding: 0.8em;
    font-size: 0.8em;
    transition: all 0.15s ease-in-out;
    line-height: 1;
  }
  &:hover {
    figcaption {
      opacity: 1;
      transform: translateY(-60px);
      -webkit-transform: translateY(-60px);
    }
  }
}
footer.site-footer {
  background: $black;
  .footer-logo {
      max-width: 170px;
      height: auto;
      margin-bottom: 2em;
  }
  a {
      color: $white;
      display: inline;
      position: relative;
      padding: 0;
      margin: 0;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 1px;
        right: 0;
        left: auto;
        width: 0;
        height: 1px;
        z-index: 2;
      }
      &:before {
        background-color: $primary-color;
        transition: all .25s cubic-bezier(.694,.048,.335,1) .15s;
      }
      &:after {
        background-color: $white;
        transition: all .25s cubic-bezier(.694,.048,.335,1);
      }
      &:hover {
        text-decoration: none;
        color: $white;
        &:after, &:before { 
          width: 100%;
          left: 0;
        }

      }
  }
}