header {
  z-index: 10;
  .logo {
    max-width: 100px;
    height: auto;
  }
  nav {
     a {
      color: $white;

      &:after {
        display:block;
        content: '';
        border-bottom: solid 2px $white;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
      }
      &:hover {
        color: $white;
        &:after { transform: scaleX(1); }
      }
    }
  }
 

}


#va-slides {
  height: 100vh;

  img {
    height: 100vh;
    object-fit: cover;
  }
}


.work-front {
  .card {
    border: none;
    background: transparent;
    border-radius: 0;

    .description {
      position: absolute;
      left: 1em;
      bottom: 1em;

      h4 {

      }
    }

  }
}

// work single

.section-hero {
  height: 100vh;
  img {
    height: 100vh;
    object-fit: cover;
  }
  .hero-title {
    bottom: 3em;
    width: 100%;
  }
}

footer.site-footer {
  background: $black;
  .footer-logo {
      max-width: 170px;
      height: auto;
      margin-bottom: 2em;
  }
  a {
      color: $white;
      display: inline-block;

      &:after {
        display:block;
        content: '';
        border-bottom: solid 1px $white;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
      }
      &:hover {
        text-decoration: none;
        color: $white;
        &:after { transform: scaleX(1); }
      }
    }
}