---
layout: default
---
{% comment %}
	This layout is used to by work.md for the single layout for work pages.
{% endcomment %}

<style>
.hero-color {
   color: {{ page.brand_secondary_color }};
}
.hero-bg {
	background-color: {{ page.brand_primary_color }}
}
</style>

<section class="section section-hero">
	
	{% if page.hero_video and page.hero_video != "" %}
		<div class="hero-video" data-vide-bg="{{ page.hero_video | relative_url }}" data-vide-options="position: 0% 0%"></div>
	{% else %}
		{% if page.hero_image and page.hero_image != "" %}
		<img class="d-block w-100" src="{{ page.hero_image | relative_url }}" alt="{{ page.title }}">
		{% endif %}
	{% endif %}
	 
	<div class="position-absolute hero-title">
		<div class="container">
				<h1 class="page-title">{{ page.title }}</h1>
				<h3>{{ page.sub_heading }}</h3>
		</div>
	</div>

<button class="btn-scroll"><span class="text">Scroll</span></button>

</section>

<div class="hero-bg">

	<div class="container section-main py-8">

		<div class="row d-flex justify-content-between" data-aos="fade-in">
		
			<div class="col-sm-8">
				
				<h4 class="hero-color">Project</h4>
				{{ page.intro  | markdownify }}

			</div>

			<div class="col-sm-2 mt-3">

				<h5 class="hero-color">Sector</h5>
				<p>{{ page.sector }}</p>

				<h5 class="hero-color">Services</h5>
				<ul class="list-unstyled">
					{% for tag in page.services %}
					   <li>{{ tag }}</li>
					{% endfor %}
				</ul>

			</div>

		</div>

	</div>
	
	<!-- {% for section in page.blocks %} 
		{% include block-{{ section.block }}.html %}
	{% endfor %} -->
	
	{% if page.spero %}
		{% include work-spero.html %}
	{% endif %}

	{% if page.horizon %}
		{% include work-horizon.html %}
	{% endif %}

	{% if page.mic %}
		{% include work-mic.html %}
	{% endif %}

	{% if page.mfac %}
		{% include work-mfac.html %}
	{% endif %}

	{% if page.bookingbox %}
		{% include work-bookingbox.html %}
	{% endif %}

	{% if page.suncare %}
		{% include work-suncare.html %}
	{% endif %}
	

	<div class="container section-bottom">
		
		<div class="row py-4" data-aos="fade-in">

			<div class="col-sm-6">
				{% include arrow-link.html url="/work" direction="left" text='See all work' %}
			</div>

			<div class="col-sm-6 text-right">
				
				<!-- <div class='item'>
				        <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 500 500'>
				          <defs>
				            <clipPath id='clip-0'>
				              <circle cx='0' cy='0' fill='#000' r='150px'></circle>
				            </clipPath>
				          </defs>
				          <text class='svg-text' x='50%' y='50%'>
				            Next
				          </text>
				          <g clip-path='url(#clip-0)'>
				            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{{ page.next.hero_image | relative_url }}'></image>
				           
				            <text class='svg-masked-text' x='50%' y='50%'>
				              	Next
				            </text>
				          </g>
				        </svg>
				</div> -->
				<div class="PageNavigation" id="pagetransition">

				  {% if page.next.url %}
				  <style>
					.next-work:before {
					   background-color: {{ page.next.brand_primary_color }};
					}
					.next-work:after {
						background-image: url('{{ page.next.hero_image | relative_url }}');
					}
					</style>
					<div class="next-work">
				  		{% capture next_url %}{{ page.next.url }}{% endcapture %}
				    	{% include arrow-link.html url=next_url direction="right" text='Next' %}
				    </div>
				  {% endif %}
				</div>

			</div>

		</div>

	</div>

</div> <!-- // .hero-color -->
